.l-buzz
  %hr.top
  %h1.title Buzz

  .l-buzz-links-and-logos
    .l-buzz-links
      = link_to 'Interior Monologue.', 'http://www.purewow.com/entry_detail/national/4672/Roomations-helps-with-home-makeovers.htm#ixzz2daMdk5sV', :target => '_blank'
      = link_to 'A Before & After, Using an Online Design Service.', 'http://www.chicagomag.com/Chicago-Home/Design-Dose/September-2012/A-Before-After-Using-an-Online-Design-Service/', :target => '_blank'
      = link_to 'ROOMATIONS: Connect with interior designer online.', 'http://tech.co/roomations-connect-with-interior-designers-online-2011-05#.TwNtszXOV2A', :target => '_blank'
      = link_to "Affordable Interior Design.", 'http://www.examiner.com/article/get-professional-interior-design-advice-for-as-little-as-20-a-month', :target => '_blank'
    .l-buzz-logos
      = link_to 'Cincy Chic', 'http://cincychic.com', :class => 'b-logo-button b-cincy-chic-logo', :target => '_blank'
      = link_to 'Tech Cocktail', 'http://techcocktail.com', :class => 'b-logo-button b-tech-coctail-logo', :target => '_blank'
      = link_to 'Fabulous Living', 'http://www.fabulousliving.com', :class => 'b-logo-button b-fabulous-living-logo', :target => '_blank'
      = link_to 'Crains Detroit Business', 'http://www.crainsdetroit.com', :class => 'b-logo-button b-crains-detroit-business-logo', :target => '_blank'

  .l-facebook-find-us-widget
    .fb-like-box{"data-href" => "http://www.facebook.com/pages/Roomations/144523465561174", "data-width" => "360", "data-height" => "217", "data-show-faces" => "true", "data-border-color" => "#b9b9b9", "data-stream" => "false", "data-header" => "true"}