.l-testimonials
  %hr.top
  %h1.title Testimonials

  .b-testimonial
    .l-testimonial-image.thumbnail
      = image_tag 'homepage/testimonials-1.png'

    %blockquote.b-testimonial-blockquote
      %p
        #{hlaquo}I was amazed how close to reality the rendering looked to my actual room!
        The designer did a great job choosing products based on what I said in the questionnaire.&raquo;
      %small N.J, Chicago, IL

  .b-testimonial
    .l-testimonial-image.thumbnail
      = image_tag 'homepage/testimonials-3.png'

    %blockquote.b-testimonial-blockquote
      %p
        #{hlaquo}The designed was so spot-on with our taste to the point where we actually already had one of the furniture pieces
        recommended!&raquo;
      %small Sheila S., Liberty, Iowa

  .b-testimonial
    .l-testimonial-image.thumbnail
      = image_tag 'homepage/testimonials-2.png'

    %blockquote.b-testimonial-blockquote
      %p
        #{hlaquo}The shopping list identified products at practical places we wanted to shop at.
        I really loved that!&raquo;
      %small Lauren C., New York, NY

  .b-testimonial
    .l-testimonial-image.thumbnail
      = image_tag 'homepage/testimonials-4.png'

    %blockquote.b-testimonial-blockquote
      %p
        #{hlaquo}This was our second Roomations project with a different designer. We love this room! It really makes it
        an inviting space to work in. We tweaked some of the product recommendations ourselves, but having
        the shopping list was so helpful with giving us the right direction.&raquo;
      %small N.J, Chicago, IL
