#about-us
  %hr
  .right-block
    %h1.no-pad-top About Roomations
    %p.top-20
      %strong Roomations is a website that connects homeowners with freelance interior designers. 
      We seek to make personalized interior design convenient and accessible to anyone improving their home one room at a time (the way most people do).

    %p.top-20
      %strong What We Offer
      We offer the following design resources to guide you through your home improvement journey:
    %p
      =link_to 'Design Visions', '#'
      &minus; Photo-realistic images of what your room could look like accompanied by a detailed shopping list of everything you need to make it a reality.
    %p
      =link_to 'Style Boards', '#'
      &minus; Recommendations for color, furniture, accessories and lighting for your room.
    %p
      =link_to 'Crib Sheets', '#'
      &minus; Articles on design topics you want to hear about, like the pros and cons of 
      =link_to '2 in 1 paint and primer', '#'
      or tips on creating the ultimate 
      =link_to 'bachelor pad', '#'
      ='.'

    %p.top-20
      %strong Who We Are
    %p Roomations was launched in October 2010 by Katie Miller, Lakshmi Bhargave and Jessica Goldberg. Our online interior design services are provided by a network of talented freelancing design professionals from throughout the United States.
    %p The idea for Roomations was inspired by Katie's volunteer experience at a nonprofit organization in southwest Detroit's Mexicantown district, where she used her design expertise to help small business owners renovate their storefronts. Katie realized that most of these business owners had little or no experience working with designers, yet even small levels of design assistance made a big impact on their buildings, their businesses and their pride for their establishment. Noticing a similar trend with first-time homeowners, Katie became committed to making architecture and interior design more accessible to the average person.
    %p Jessica and Lakshmi joined Katie in developing the company while they were classmates at the University of Michigan's Ross School of Business. Katie's background in architecture and interior design, combined with Lakshmi's experience in technology and Jessica's marketing savvy created a strong team that is passionate about bringing top-notch interior design into your home with just a few mouse clicks.
    #l-furniture
      #furniture-bg
    %p.top-20
      %strong Get To Know Us Better
    %p= link_to "Read about one family's experience with Roomations", '#'
    %p= link_to 'Sign-Up for Our Monthly Newsletter + Special Offers', '#'
    %p= link_to 'Learn about becoming part of our Designer Network', '#'
    %p= link_to 'Contact us with questions about Roomations', '#contact-us'
    %p
      Join us:  
      = link_to 'http://twitter.com/#!/roomations' do
        = image_tag('/assets/about-us/twitter.png')
      = link_to 'http://www.facebook.com/roomations' do
        = image_tag('/assets/about-us/facebook.png')
