#about-us
  %hr
  .right-block
    %h1.no-pad-top Thank You
    %p.top-20
      %strong Thank you for your Roomations purchase. 
      %br
      %strong Our designers will be in touch with you soon to help you make your dream home into a reality!

    %p.top-20
      Please visit our 
      = link_to 'blog', '#'
      to stay up to date on the latest design trends.

    %p.top-20
      Join us:  
      = link_to 'http://twitter.com/#!/roomations' do
        = image_tag('/assets/about-us/twitter.png')
      = link_to 'http://www.facebook.com/roomations' do
        = image_tag('/assets/about-us/facebook.png')

    %p.top-20

    #furniture-bg

    %p.top-20
