= render :layout  => 'common_layout' do |f|
  %div{:id => "step8"}
  .divider
    %hr
    
  .box
    %p
      Review the quick summary and choose your method of payment.
  
  .divider
    %hr

  .box.top-20#checkout
    #summary
      %h1 Quick summary
      #details
        %strong
          "
          = @design_request.package.title
          " level.
        = simple_format @design_request.package.benefits
        = link_to 'Edit', wizard_path(:level_of_guidance), :class => "b-orange-button project_custom_step_link", "data-step" => "level_of_guidance"
        - if @design_request.package.title.eql?("Design Advice")

          = link_to "Submit", save_project_path, class: "b-orange-button project_custom_step_link"  
    - unless @design_request.package.title.eql?("Design Advice")
      #billing-info.top-20
        = render "moneyback"
        = link_to "Get Discount", '#discount-code', 'data-toggle' => :modal, class: 'b-orange-button'
        - discount = @design_request.find_active_discount
        - if discount
          = label_tag "Your discount: #{displayable_discount_amount(discount)}"
        = text_field_tag :package, "#{@design_request.package.title} $#{@design_request.total_amount}", disabled: "disabled"
        = link_to "Pay Now", new_payment_path, class: "b-orange-button project_custom_step_link"
